body {
  font-family: 'Roboto', sans-serif;
  background-color: #2f3640;
  max-width: 750px;
  margin: 0 auto;
}

h7 {
  font-size: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

.mainsection {
  margin-bottom: 5%;
}

.all {
  color: black;
}

.citylabel {
  color: white;
}

.citylabel:hover {
  color: #2f3640;
  cursor: pointer;
}

.imageHead {
  max-width: 450px; /* you can use % */
  height: 150px;
}

.today {
  font-size: 20px;
}

.date {
  font-size: 20px;
}

.todayWeatherSummary + {
  font-size: 20px;
  font-weight: 700;
}

.todayWeatherSummary:first-letter {
  text-transform: capitalize;
}

.todaysWeather {
  font-size: 40px;
}

.otherWeatherDetails {
  font-size: 10px;
  list-style: none;
}

.upcomingWeather {
  font-size: 40px;
}

.upcomingWeatherTemp {
  font-size: 30px;
}

.farenheit {
  font-size: 10px;
  line-height: 6em;
}

.celciusUnit {
  font-size: 10px;
  line-height: 6em;
}
.tempCelcius {
  font-size: 16px;
  line-height: 4em;
  font-weight: 400;
}
